.mat-headline, .mat-subheading-2{
  text-align: center;
}
.numberOfWorkoutSet{
  line-height: 60px;
}

.edit-bottom-sheet{
  padding: 0;
}
.mat-bottom-sheet-container{
  padding: 0;
}
mat-card{
  background: transparent;
}
app-close-bottom-sheet-button{
  padding: 16px 0;
}
