<div (swipedown)="close()">
    <app-close-bottom-sheet-button [bottomSheet]="_bottomSheet"></app-close-bottom-sheet-button>
    <mat-card (swipedown)="close()">
        <mat-card-header>
            <mat-card-title i18n="@@editing">Editing</mat-card-title>
            <mat-card-subtitle i18n="@@enterTheAmount">
                Enter the amount
            </mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="form">
            <div formGroupName="workoutSet" fxLayoutAlign="center center">
                <app-measures-form-control [parent]="workoutSetFormGroup"
                                           [measures]="data.listOfMeasures"
                                           controlName="listOfMeasures"></app-measures-form-control>
            </div>
        </form>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="closeBottomSheet()" i18n="@@save">Save</button>
        </mat-card-actions>
    </mat-card>
</div>
