<section (swipeleft)="swipeLeft()">
    <section>
        <app-workout-program-result-card
                [header]="($currentWorkoutProgram | async)?.common?.name"
                [repeatButtonNeed]="false"
                [result]="results$ | async"></app-workout-program-result-card>
    </section>
    <section>
        <app-chart-strength-radar></app-chart-strength-radar>
    </section>
    <section>
        <app-workout-history-card [workoutDataList]="workoutHistory$ | async"></app-workout-history-card>
    </section>
</section>
