
mat-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -16px;
}

app-process-training-timer {
  margin: 0 auto;
}

.button-icon {
  width: 64px;

  .icon-title {
    margin-top: -8px
  }
}

.mat-fab {

}

.what-do-now-section {
  height: calc(100% - 64px);
}

.example-spacer {
  flex: 1 1 auto;
}


.bottom-button {
  margin-top: 24px;
}

.mat-bigger-icon {
  transform: scale(1.5);
}

.mat-middle-icon {
  transform: scale(1.2);
}

.fab-and-progress {
  position: relative;

  .big-spinner {
    position: absolute;
    top: -6px;
    left: -6px;
  }

  button {
    position: absolute;
    top: 8px;
    left: 8px;
  }
}

.hidden-button {
  opacity: 0;
}

app-measures-editable-list {
  margin-top: 32px;
}

mat-card-subtitle {
  text-align: center;
}
.training-bar{
  width: 100%;
}
.row-button-section {
  width: 224px;

  .mat-icon-button {
    margin-top: -8px
  }
}
app-progress-bar{
  padding: 0 16px;
}
