<section class="what-do-now-section" fxLayout="column" [@workoutSetNavigation]="{value:  ($activeWorkoutSet |async)?.number}"
         (swipeleft)="skipCurrentWorkoutSet()"
         (swiperight)="back()"
>
    <app-workout-set-represent
            [currentWorkoutSetIndex]="($activeWorkoutSet | async)?.id"
            [workoutPhase]="$activeWorkoutPhase | async"
            [workoutSet]="$activeWorkoutSet | async"
            (updateWorkoutSet)="updateWorkoutSet($event)"
    >
    </app-workout-set-represent>
    <app-measures-editable-list (editMeasures)="openBottomSheet()"
                                [measureList]="$measures | async"></app-measures-editable-list>
    <div fxLayoutAlign="center center" fxLayout="column" fxFlex="1 1 100%">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="row-button-section">
            <button mat-icon-button (click)="pause()">
                <mat-icon class="secondary-text mat-bigger-icon">{{formatPause}}</mat-icon>
            </button>
            <div class="fab-and-progress">
                <mat-progress-spinner
                        class="example-margin"
                        [color]="'primary'"
                        [mode]="'determinate'"
                        strokeWidth="3"
                        diameter="72"
                        [value]="$progress | async">
                </mat-progress-spinner>
                <mat-progress-spinner
                        class="big-spinner"
                        [color]="'accent'"
                        [mode]="'determinate'"
                        strokeWidth="3"
                        diameter="84"
                        [value]="timerPercentValue | async">
                </mat-progress-spinner>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button mat-fab color="accent" (click)="fab.action()">
                        <mat-icon>{{fab.icon}}</mat-icon>
                    </button>
                    <span class="secondary-text">Сделал</span>
                </div>
            </div>
            <button mat-icon-button (click)="skipCurrentWorkoutSet()"
                    [ngClass]="{'hidden-button':status !== 'usual_measure'}">
                <mat-icon class="secondary-text mat-bigger-icon">skip_next</mat-icon>
            </button>
        </div>
        <button mat-icon-button (click)="openPersonalRecord($activeWorkoutSet)"
                [ngClass]="{'hidden-button':status !== 'usual_measure'}"
                class="bottom-button secondary-text">
            <mat-icon aria-hidden="false" class="mat-middle-icon" svgIcon="champion-cup"></mat-icon>
        </button>
    </div>
    <app-progress-bar [progressController]="$progressControlers | async"></app-progress-bar>
</section>

