.mat-list-base .mat-list-item .mat-list-avatar {
  &.workout-image {
    width: 64px;
    height: 64px;
    border-radius: 4px;
  }

}

.mat-card .mat-divider-horizontal .list-mat-divider {
  position: relative;
  top: 8px
}
mat-list{
  margin-left: -16px;
}
section{
  margin-top: 24px;
  height: calc(100vh - 130px);
}
