<section (swiperight)="swipeRight()">
    <mat-accordion>
        <mat-expansion-panel [expanded]="weekIndex === 0" hideToggle *ngFor="let week of workoutProgram.listOfWeeks; let weekIndex = index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span i18n="@@week">Week</span> {{weekIndex + 1}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let day of week.listOfDays">

                <mat-list>
                    <ng-container *ngFor="let workout of day.listOfScheduledWorkouts">
                        <a [routerLink]="'../workout_instance/'+workout.id">
                            <mat-list-item *ngIf="getWorkoutById(workout.workoutId)">
                                <img class="workout-image" mat-list-avatar
                                     [src]="getWorkoutById(workout.workoutId).common.imageBundle.mobileImageLink" fxFlexOrder="reverse">
                                <span mat-line class="secondary-text">День {{day.dayIndex}}</span>
                                <span mat-line>{{getWorkoutById(workout.workoutId).common.name}}</span>
                            </mat-list-item>
                        </a>
                    </ng-container>
                </mat-list>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>
