<div (swipedown)="onNoClick()">
    <app-close-bottom-sheet-button [bottomSheet]="bottomSheet"></app-close-bottom-sheet-button>
    <h1 mat-dialog-title i18n="@@allHistory">All history</h1>
    <app-workout-history [workoutDataList]="workoutHistory$ | async"></app-workout-history>
    <div mat-dialog-actions fxLayoutAlign="end">
        <button mat-button (click)="onNoClick()" i18n="@@close">Close</button>
    </div>
</div>
