<div class="menu-wrapper">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openBottomSheet(workoutSet)">
            <mat-icon>edit</mat-icon>
            <span i18n="@@edit">Edit</span>
        </button>
        <button mat-menu-item (click)="infoBottomSheet(workoutSet.exercise)">
            <mat-icon>read_more</mat-icon>
            <span i18n="@@button.more">More details</span>
        </button>
        <button mat-menu-item (click)="exitFromTrainingProcess()">
            <mat-icon>close</mat-icon>
            <span i18n="@@exitFromWorkout">Exit</span>
        </button>
    </mat-menu>
</div>
