<section class="wrapper-section-swipe-panel" (swipeleft)="swipeLeft()">
    <section class="section-panel">
        <app-workout-program-card
                [withActionButtons]="false"
                [workoutProgram]="workoutProgram">
            <mat-card class="mat-elevation-z0">
                <mat-list>
                    <mat-list-item>
          <span mat-list-icon>
            <app-hard-detect-icon
                    [isContrast]="false"
                    [difficultyName]="workoutProgram.characteristic.workoutDifficulty.nativeValue"></app-hard-detect-icon>
          </span>
                        <div mat-line class="secondary-text" i18n="@@complexity">Complexity</div>
                        <div mat-line>{{workoutProgram.characteristic.workoutDifficulty.value}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="primary">my_location</mat-icon>
                        <div mat-line class="secondary-text" i18n="@@goal">Goal</div>
                        <div mat-line>{{workoutProgram.characteristic.workoutType.value}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <app-bumbbell-icon mat-list-icon
                                           [isContrast]="false"
                                           [required]="workoutProgram.characteristic.equipmentNecessity.value">
                        </app-bumbbell-icon>
                        <div mat-line class="secondary-text" i18n="@@equipment">Equipment</div>
                        <div mat-line>{{workoutProgram.characteristic.equipmentNecessity.value}}</div>

                    </mat-list-item>
                </mat-list>
            </mat-card>
        </app-workout-program-card>
    </section>
    <section class="section-panel">
        <mat-card>
            <mat-card-title i18n="@@description">Description</mat-card-title>
            <mat-card-content>
                {{workoutProgram.common.description}}
            </mat-card-content>
        </mat-card>
    </section>
    <section class="section-panel">
        <mat-card>
            <mat-card-title i18n="@@necessaryEquipment">Necessary equipment</mat-card-title>
            <mat-card-content>
                {{equipmentString}}
            </mat-card-content>
        </mat-card>
    </section>
</section>
