<div fxLayout fxLayoutAlign="space-between center">
    <span>{{data}}</span>
    <div class="mat-simple-snackbar-action">
        <button mat-button color="accent" (click)="dismiss()">Ok</button>
    </div>
</div>
