<mat-card>
  <mat-card-header>
    <mat-card-title i18n="@@editing">Editing</mat-card-title>
    <mat-card-subtitle i18n="@@enterTheAmount">
      Enter the amount
    </mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="form">
    <div formGroupName="workoutPhase">
      <div formArrayName="listOfSets">
        <div *ngFor="let ws of workoutSetListControl.controls; let wsIndex = index" [formGroupName]="wsIndex" fxLayout
             fxLayoutGap="16px" fxLayoutAlign="center">
          <span class="numberOfWorkoutSet">{{wsIndex + 1}}</span>
          <app-measures-form-control [parent]="ws" [measures]="data.listOfSets[wsIndex].listOfMeasures"
                                     controlName="listOfMeasures"></app-measures-form-control>

        </div>
      </div>
    </div>
  </form>
  <mat-card-actions fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="closeBottomSheet()" i18n="@@save">Save</button>
  </mat-card-actions>
</mat-card>
