<ng-container *ngIf="workoutPhaseList">
  <div *ngFor="let phase of workoutPhaseList">
    <h3 class="mat-h2">{{phase.name}}</h3>
      <app-exercise-list [workoutSetList]="phase.listOfSets"></app-exercise-list>
  </div>
</ng-container>
