.workout-program-scheduler-wrapper{
  max-height: calc(100vh - 344px);
  overflow: auto;
  position: relative;
}
.wplist.mat-list-base .mat-list-item{
  padding: 16px 0;
}


mat-list.wplist{
  margin-top: -8px;
}
