 <h1 class="mat-title">Выбирете тренировку</h1>
    <div class="workout-program-scheduler-wrapper" appScrollable>
        <mat-nav-list class="wplist">
            <ng-container *ngFor="let day of calendar let i = index;">
                <app-scheduler-day-item [schedulerDay]="day"
                                        [enableStartButton]="false"
                                        [isLock]="i > currentIndex"
                                        (click)="startWorkoutInstance(i, i > currentIndex)"
                                        *ngIf="i !== currentIndex && day !== null; else todayBlock"
                ></app-scheduler-day-item>
                <ng-template #todayBlock>
                    <div appOffsetTop>
                        <app-workout-rest-day-card *ngIf="day === null; else today"></app-workout-rest-day-card>
                        <ng-template #today>
                            <app-scheduler-day-item [schedulerDay]="day"
                                                    [enableStartButton]="true"
                                                    [isLock]="i > currentIndex"
                                                    (onStartWorkoutInstance)="startWorkoutInstance(i, i > currentIndex)"
                            ></app-scheduler-day-item>
                        </ng-template>
                    </div>
                </ng-template>
                <mat-divider></mat-divider>
            </ng-container>

        </mat-nav-list>
    </div>

