<div class="list-wrapper">
  <ng-container *ngFor="let workoutPhase of ($filteredWorkoutPhase | async)">
    <h3 class="mat-h3">{{workoutPhase.name}}</h3>
    <mat-selection-list class="backdroplist" color="accent" multiple="false">
      <mat-list-option *ngFor="let exercise of workoutPhase.listOfSets"
                       [ngClass]="{'active-workout-set': exercise.id === (workoutSetActiveId | async).id}"
                       (click)="chooseWorkoutSet(exercise.id)">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <span>{{exercise.exercise.name}}</span>
          <mat-checkbox (change)="changeWorkoutSetDone(exercise, $event)"
                        [checked]="exercise.isDone"></mat-checkbox>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </ng-container>
  <div class="end-padding"></div>
</div>
