@import 'src/theme/variables';

.list-wrapper {
  height: 356px;
  margin-bottom: 16px;
  mat-selection-list {
    border-left: rgba(255, 255, 255, 0.82) 2px solid;
    margin-left: 16px;
    padding-right: 16px;

    mat-list-option {
      margin-left: 16px;
    }
  }

  .backdroplist {
    .active-workout-set {
      background: #FFFFFF;
      border-radius: 12px;

      &.mat-list-option {
        color: mat-color($primary)
      }
    }
  }
  .end-padding{
    height: 54px;
  }
}
