<div class="nav-wrapper">
  <mat-nav-list>
    <a
      mat-list-item
      [routerLink]="'workout-programs/all'"
      routerLinkActive="active">
      <mat-icon
        svgIcon="notepad"
        mat-list-icon></mat-icon>
      <span class="mat-list-text" i18n="@@nav.list-item.workout-program">Workout programs</span>
    </a>
    <a
      mat-list-item
      [routerLink]="'user'"
      routerLinkActive="active">
      <mat-icon
        svgIcon="dumbbell"
        mat-list-icon></mat-icon>
      <span class="mat-list-text" i18n="@@nav.list-item.my-workout-program">My workout programs</span>
    </a>
    <a
      mat-list-item
      id="user-progress-url"
      [routerLink]="'progress'"
      routerLinkActive="active">
      <mat-icon
        svgIcon="heart-statistic"
        mat-list-icon></mat-icon>
      <span class="mat-list-text" i18n="@@nav.list-item.my-statistics">My statistics</span>
    </a>
  </mat-nav-list>
</div>
