@import 'src/theme/variables';

.nav-wrapper {
  @include respond-to(mat-xs) {
    padding-right: 36px;
  }

}
.active {
  background-color: white !important;
  margin-left: 8px;
  border-radius: 4px;
  color: inherit;

}

.mat-list-base .mat-list-item {
  color: mat-color($primary, default-contrast);
}

.mat-list-base .mat-list-item.active {
  color: mat-color($primary);
}





