<mat-card *ngIf="workout">
  <mat-card-content fxLayout="row">


    <img class="small-workout-image" [src]="workout.common.imageBundle.mobileImageLink" [alt]="workout.common.name"/>
    <div>
      <div class="mat-card-title">{{workout.common.name}}</div>
      <ng-content></ng-content>
    </div>
  </mat-card-content>
</mat-card>
