<div class="fixActionRow">
    <div mat-dialog-title i18n="@@restTitle">Rest</div>
    <ng-container *ngIf="nextWorkoutSet; else allWorkoutFinished">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="start center">
        <div class="timer">
            <mat-progress-spinner
                    class="example-margin"
                    [diameter]="164"
                    [color]="colorOfChart"
                    [mode]="'determinate'"
                    [strokeWidth]="5"
                    [value]="timerValuePercent">
            </mat-progress-spinner>
            <div class="mat-display-2 timer_count" [ngClass]="colorOfChart + '-color'">{{subscribeTimer}}</div>

        </div>
        <mat-divider [vertical]="false"></mat-divider>
    </div>

        <div fxLayoutAlign="start start" fxLayout="column" class="next-workout-set">
            <span class="secondary-text" i18n="@@nextExercise">Next exercise</span>
            <span class="mat-title">{{nextWorkoutSet.exercise.name}}</span>
        </div>
        <app-measures-editable-list [measureList]="nextWorkoutSet.listOfMeasures"></app-measures-editable-list>
        <div class="personal-record">
            <div class="mat-body with-icon">
                <mat-icon aria-hidden="false" class="mat-middle-icon" svgIcon="champion-cup"></mat-icon>
                <span class="personal-record-title" i18n="@@personalRecord">Personal record</span>
            </div>
            <app-measures-editable-list [measureList]="(recordMeasures | async)"></app-measures-editable-list>
        </div>
    </ng-container>
    <ng-template #allWorkoutFinished>
        <div fxLayoutAlign="center center" fxLayout="column" class="next-workout-set">
            <span class="mat-title" i18n="@@youCompleteAllExercise">You have completed all exercises</span>
        </div>
        <app-difficalty-slider [value]="difficaltValue | async" (onChange)="changeDifficalt($event)"></app-difficalty-slider>

    </ng-template>
    <div class="spacer"></div>
    <div mat-dialog-actions fxLayoutAlign="center" fxFlexAlign="">
        <button mat-button [mat-dialog-close]="this.actualTime" class="skip-button" color="primary">
            {{finishedButtonName}}
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>

