@import 'src/theme/variables';


.timer {
  width: 164px;

  .mat-display-2 {
    margin: 0;
  }

  position: relative;

  .timer_count {
    width: 164px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -24px;
  }
}

app-measures-editable-list {
  margin: 16px 0;
}

.personal-record {
  margin-top: 16px;
}

.next-workout-set {
  width: 100%;

  .mat-title {
    margin: 0
  }
}

mat-divider {
  height: 2px;
  width: 100%;
  margin: 24px 0;
}

.personal-record-title {
  margin-left: 8px;
}
app-difficalty-slider{
  display: block;
  width: 100%;
  height: 86%;
}



