<div [formGroup]="parent" fxLayout="row">

  <button
    mat-button
    mat-icon-button
    matPrefix
    aria-label="Remove"
    [color]="getColor()"
    (click)="incrementValue(-_step)"
    [disabled]="shouldDisableDecrement(_value)">
    <mat-icon>remove</mat-icon>
  </button>
  <mat-form-field class="formFieldSmall">
    <input matInput type="number" formControlName="actualValue" (focus)="setColor('primary')"
           (blur)="setColor('primary')"/>
  </mat-form-field>
  <button
    mat-button
    mat-icon-button
    matSuffix
    aria-label="Add"
    [color]="getColor()"
    (click)="incrementValue(_step)"
    [disabled]="shouldDisableIncrement(_value)">
    <mat-icon>add</mat-icon>
  </button>
</div>
