<div>
  <nav mat-tab-nav-bar backgroundColor="primary">
    <a *ngFor="let link of navLinks$ | async" mat-tab-link
       #rla="routerLinkActive"
       [active]="rla.isActive"
       [routerLink]="getAbsoluteUrlRoute(link.path)"
       routerLinkActive>
      {{link.label}}
    </a>
  </nav>
</div>

