<mat-card>
  <mat-card-header>
    <mat-card-title i18n="@@timeOfRest">Time of rest</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="char-wrapper" *ngIf="workoutResult">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
