<div [appBackgroundCover]="workoutProgram?.common?.imageBundle?.webImageLink"
     class="darken-pseudo presenter-wrapper full-width-backdrop-card">
    <div fxLayout="column" fxLayoutAlign="space-between space-between" class="workout-presenter-content">
        <div class="mat-title"> {{workoutProgram?.common?.name || 'undefined name' | truncate:[40, '...']}}</div>
        <div fxLayout="column" fxLayoutAlign="space-between end">
          <app-progress-spinner [percentComplete]="workoutProgramPercentDone"></app-progress-spinner>
            <div class="bottom" *ngIf="action" fxFlexAlign="start">
                <button mat-button (click)="action.action()" class="start-button">
                    <mat-icon>{{action.icon}}</mat-icon>
                    {{action.name}}
                </button>
                <button mat-button (click)="restartWorkoutProgram()" class="start-button">
                    <mat-icon>restart_alt</mat-icon>
                    Рестарт
                </button>
            </div>
        </div>
    </div>
</div>
