.presenter-wrapper{
  padding: 16px;
  border-radius: 0;
  box-sizing: border-box;
  .workout-presenter-content{
    min-height: 164px;
  }
}
.full-width-backdrop-card {
  width: calc(100% + 16px);
  margin-left: -8px;
}
.workout-presenter-content{
  padding: 8px;
}
app-progress-spinner{
  position: relative;
  bottom: -16px;
  right: -16px;
}
.bottom{
  margin-left: -24px;
  margin-bottom: -4px;
}
