<h1 class="mat-h1" i18n="@@congratulationYouFinishedProgram">Congratulation you have finished program!</h1>
<app-workout-program-result-card [result]="results$ | async" (repeateSubscription)="onRepeateSubscription()"></app-workout-program-result-card>
