<div class="top-empty-block"></div>
<section class="standard-section">
    <app-training-list (enrollWorkoutProgram)="onEnroll($event)"
                       [workoutPrograms]="workoutPrograms$ | async" *ngIf="!($isLoading | async)"></app-training-list>
    <app-training-list (enrollWorkoutProgram)="onEnroll($event)"
                       [workoutPrograms]="defaultArray" *ngIf="($isLoading | async)"></app-training-list>
</section>
<div class="empty-block"></div>
