@import 'src/theme/variables';

.withoutActions {
  mat-card-content {
    height: 100px;
  }
}

.wp-content {
  margin-top: auto
}

mat-card {
  background: transparent;
  height: 208px;
  box-sizing: border-box;

  mat-card-title, mat-card-subtitle {
    color: mat-color($primary, default-contrast);
  }

  mat-card-header {
    height: 86px;
  }

  mat-card-content {
    .icon {
      margin-top: 8px;
    }
  }
}

.mat-workout-program-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  .mat-stroked-button.mat-primary {
    color: #FFFFFF;
  }

  .mat-stroked-button:not([disabled]) {
    border-color: #FFFFFF;
  }


  .icon {
    color: #FFFFFF;

    span {
      margin-left: 4px;
    }
  }

  .mat-icon {
    vertical-align: middle;
  }

  .sceleton-button-wrapper{
    margin-top: -16px;
    ngx-skeleton-loader{
      margin-left: 8px;
    }
  }

}

