<div [appBackgroundCover]="workoutProgram?.common?.imageBundle?.webImageLink"
     class="mat-workout-program-card mat-elevation-z4" [ngClass]="{'darken-pseudo': workoutProgram != null}">
    <mat-card fxLayout="column">
        <mat-card-title>
            <div *ngIf="workoutProgram">
                {{workoutProgram.common.name | truncate:[45, '...']}}
            </div>
            <div *ngIf="!workoutProgram">
                <ngx-skeleton-loader count="1"
                                     [theme]="{ 'border-radius': '4', height: '29px', width:  '200px'}"></ngx-skeleton-loader>
            </div>
        </mat-card-title>
        <mat-card-subtitle fxFlexAlign="left">
        <span *ngIf="workoutPlace"><span
                i18n="@@workoutPlaceIn">Workout place(s): </span> {{workoutPlace.join(', ')}}</span>
            <span *ngIf="!workoutPlace">
         <ngx-skeleton-loader count="1"
                              [theme]="{ 'border-radius': '4', height: '17px', width:  '190px'}"></ngx-skeleton-loader>
        </span>
        </mat-card-subtitle>
        <div fxLayout="column" class="wp-content">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div fxLayout="column">
                    <div class="icon">
                        <div *ngIf="workoutProgram">
                            <mat-icon aria-hidden="false" i18n="@@days-in-week" svgIcon="workout-program-calendar"></mat-icon>
                            <span i18n="@@days-in-week">Days in week</span>: {{workoutProgram.amountWorkoutInWeek['end']}}</div>
                    </div>
                    <div *ngIf="!workoutProgram">
                        <ngx-skeleton-loader count="1"
                                             [theme]="{ 'border-radius': '4', height: '17px', width:  '190px'}"></ngx-skeleton-loader>
                    </div>
                    <div class="icon">
                        <div *ngIf="workoutProgram">
                            <mat-icon aria-hidden="false" svgIcon="workout-program-watch"></mat-icon>
                            <span i18n="@@days">Days</span>: {{workoutProgram.amountOfDays}}
                        </div>
                        <div *ngIf="!workoutProgram">
                            <ngx-skeleton-loader count="1"
                                                 [theme]="{ 'border-radius': '4', height: '17px', width:  '140px'}"></ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
                <div fxLayout="row">
                    <app-hard-detect-icon [difficultyName]="difficultyValue" [isContrast]="true"></app-hard-detect-icon>
                    <app-bumbbell-icon mat-list-icon [isContrast]="true"
                                       [required]="workoutProgram?.characteristic?.equipmentNecessity?.value"></app-bumbbell-icon>
                </div>
            </div>
        </div>
        <mat-card-actions fxFlexAlign="space-between" fxLayout="row" *ngIf="withActionButtons">
            <ng-container *ngIf="workoutProgram">
                <button
                        (click)="onEnroll(workoutProgram)"
                        class="btn" color="primary" i18n="@@button.enroll" mat-raised-button>
                    Enroll
                </button>
                <button
                        [routerLink]="['/workout-programs/'+workoutProgram.id]"
                        class="btn" color="primary" i18n="@@button.more" mat-stroked-button>
                    More details
                </button>
            </ng-container>
            <div *ngIf="!workoutProgram" class="sceleton-button-wrapper">
                <ngx-skeleton-loader count="1"
                                     [theme]="{ 'border-radius': '4', height: '36px', width:  '108px'}"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1"
                                     [theme]="{ 'border-radius': '4', height: '36px', width:  '108px'}"></ngx-skeleton-loader>
            </div>
        </mat-card-actions>

    </mat-card>
</div>
<ng-content></ng-content>
