<mat-toolbar color="primary">
    <mat-toolbar-row>
        <app-custom-menu-button *ngIf="(menuButton$ | async).handler; else menuButton"
                                [menuButton]="menuButton$ | async"></app-custom-menu-button>
        <ng-template #menuButton>
            <button class="menu-button" mat-icon-button (click)="onToggleSidenav(menuButtonAction)"
                    fxHide.gt-xs
                    *ngIf="!backDropStatusIsOpen(backdropStatus) || backdropSettings.isNeedMenu; else closeButton">
                <mat-icon>menu</mat-icon>
            </button>
            <ng-template #closeButton>
                <button class="close-button"
                        mat-icon-button
                        *ngIf="backdropSettings.isCloseable"
                        (click)="onToggleSidenav(closeMenuButton)">
                    <mat-icon>close</mat-icon>
                </button>
                <button class="arrow-button" mat-icon-button *ngIf="backdropSettings.isNavigable" (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </ng-template>
        </ng-template>
        <h6 class="page-name">{{currentPageName$ | async | truncate: [16, '...']}}</h6>
        <div fxFlex fxLayout fxLayoutAlign="end" class="toolbar-item">
            <ul fxLayout class="navigation-items"
                [fxHide]="backDropStatusIsOpen(backdropStatus) && !backdropSettings.isNeedMenu">
                <li *ngFor="let action of (toolbarActions$ | async)">
                    <button mat-button (click)="onActionClick(action)" [ngClass.xs]="'mat-icon-button'">
                        <mat-icon>{{action.button.icon}}</mat-icon>
                        <span class="aligned-with-icon" fxHide.xs>{{action.button.name}}</span></button>
                </li>
                <app-log-button
                        (actionClick)="onActionClick($event)" [logButton]="getLoginLogoutButton(user$ | async)"
                        *ngIf="isShowLoginAction$ | async"></app-log-button>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
