:host {
  position: sticky;
  z-index: 9999;
  display: block;
  width: 100%;
  top:0;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page-name{
  margin-left: 24px;
}
.mat-toolbar-row {
  .md-icon-button {
    vertical-align: middle;

    .mat-icon {
      vertical-align: middle;
    }

  }
}

