.filter-item{
  margin-right: 42px;
}

.fx-layout{
  display: flex;
}
section{
  display: flex;
  flex-direction: column;
}

.filter-list{
  margin-right: 16px;
}

.name-filter{
  margin-bottom: 16px;
}
