<section fxLayout="row" fxLayout.xs="column" fxLayoutGap="64px" fxLayoutGap.xs="8px">
  <div *ngFor="let filter of filters" fxLayout="column">
    <span class="name-filter"> {{filter.name}}</span>
      <mat-chip-list #chipList [(ngModel)]="selectedFilter" multiple class="filter-list">
        <mat-chip *ngFor="let value of filter.values" [selectable]="selectable"
                  [selected]="isSelected(filter.filterPath, value)"
                  (click)="selectFilter(filter, value)">
          {{value}}
          <mat-icon matChipRemove *ngIf="isSelected(filter.filterPath, value)" style="color: white">done</mat-icon>
        </mat-chip>
      </mat-chip-list>
  </div>
</section>
