<div [formGroup]="parent">
  <div fxLayout="row wrap" fxLayoutAlign="space-between" [formArrayName]="controlName">
    <div fxLayout="column" *ngFor="let measure of measuresControl ; let measureIndex = index"
         [formGroupName]="measureIndex.toString()" class="measure-form">
      <span class="mat-caption">{{measures[measureIndex].measureType.name}}</span>
      <app-increment-input [parent]="measure"
                           [value]="measure.value.actualValue ? measure.value.actualValue : measure.value.expectedValue"></app-increment-input>
    </div>
  </div>
</div>
