<mat-card>
  <mat-card-header>
    <mat-card-title i18n="@@historyOfWorkouts">History of workouts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-workout-history [workoutDataList]="workoutDataList"></app-workout-history>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end">
    <button mat-raised-button color="primary" (click)="openDialog()">Вся история</button>
  </mat-card-actions>
</mat-card>
