<div [appBackgroundCover]="workoutData.workout.common.imageBundle?.webImageLink"
     class="gradient-darken" *ngIf="workoutData?.workout">
  <div fxLayout="column" fxLayoutAlign="space-between space-between" class="workout-characteristic-card">
    <div class="top" fxLayoutAlign="space-between">
      <div class="mat-title"> {{workoutData.workout.common.name | truncate:[45, '...']}}</div>
    </div>
    <div class="bottom" fxLayoutAlign="space-between space-between">
      <div fxLayout="column">
        <div class="characteristic mat-body-2">
          <span i18n="@@complexity">Complexity</span>: {{workoutData.workout.characteristic.workoutDifficulty.value}};
        </div>
        <div class="characteristic mat-body-2">
          <ng-container i18n="@@duration">Duration</ng-container>: {{workoutData.workout.duration}} <ng-container i18n="@@minutes">minutes</ng-container>;
        </div>
        <div class="characteristic mat-body-2">{{getCountOfExercises()}}</div>
        <div class="characteristic mat-body-2">{{workoutData.workout.characteristic.workoutType.value}}</div>
      </div>
    </div>

  </div>
</div>
