<mat-card>
  <mat-card-header>
    <mat-card-title i18n="@@workChart">Work chart</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="barChartData">
    <div style="position: relative; min-height:155px; width:100%">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="chartResultData.labels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
