<button mat-button (click)="onActionClick(logButton)" [ngClass.xs]="'mat-icon-button'">
  <mat-icon>{{logButton.button.icon}}</mat-icon>
  <span class="aligned-with-icon" fxHide.xs>{{logButton.button.name}}</span></button>
