<mat-card fxLayout="row" *ngFor="let phase of workoutPhases">
  <mat-nav-list>
    <h3 matSubheader>{{phase.name}}</h3>
    <app-workout-set [workoutSets]="phase.listOfSets" [activeWorkoutSet]="activeWorkoutSet"></app-workout-set>
  </mat-nav-list>
</mat-card>
