  <mat-list>
    <mat-list-item *ngFor="let set of workoutSets" [ngClass]="{'active': activeWorkoutSet.id==set.id}">
      <img matListAvatar [src]="set.exercise.imageBundle.webImageLink" [alt]="set.exercise.name">
      <h3 matLine> {{set.exercise.name}} </h3>
      <p matLine *ngFor="let measure of set.listOfMeasuresFetched">
        {{measure.measureType.name}} - {{measure.expectedValue}}
      </p>
    </mat-list-item>
  </mat-list>
