<h1 mat-dialog-title i18n="@@results">Results</h1>
<div mat-dialog-content class="edit-dialog-content">
    <p i18n="@@confirmOrEditValues">Confirm or edit values</p>
    <form [formGroup]="form">
        <app-measures-form-control [parent]="form" [measures]="data.measures" [controlName]="'measures'"></app-measures-form-control>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="getWorkoutSetWithActualValue()">Ok</button>
</div>
