@import 'src/theme/variables';


.not_required {
  height: 27px;
  width: 27px;
  position: relative;

  &::before {
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
    top: 45%;
    content: '';
    border-bottom: 4px solid #FF0000;
    pointer-events: none;
  }
}

svg {
  width: 28px;
  height: 28px;
  fill: mat-color($primary);
}
.contrast{
  fill: mat-color($primary, default-contrast);
}

