<mat-icon [ngClass]="required" *ngIf="required">
  <svg
    [ngClass]="{'contrast' : isContrast}"
    width="100%" height="100%"
    viewBox="0 0 50 48" xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M42.7934 15.4991L44.2218 14.1153C45.503 12.8743 45.503 10.8547 44.2218 9.61354L39.3664 4.90977C38.085 3.66877 36.0005 3.66869 34.7194 4.90985L33.291 6.29362L31.979 5.02254C30.6978 3.78154 28.6131 3.78146 27.332 5.02262L24.4341 7.82995C23.1499 9.07382 23.1497 11.0877 24.4341 12.3318L27.3306 15.1379L15.6264 26.4763L12.7298 23.6702C11.446 22.4264 9.36693 22.4259 8.08278 23.6702L5.18472 26.4776C3.90369 27.7187 3.90369 29.7383 5.18481 30.9794L6.49673 32.2504L5.06832 33.6341C3.78712 34.8752 3.78712 36.8948 5.06832 38.1359L9.92374 42.8397C11.2053 44.0809 13.2896 44.0808 14.5707 42.8396L15.9992 41.4558L17.3112 42.7268C18.5923 43.9678 20.677 43.9678 21.9582 42.7268L24.8561 39.9194C26.1402 38.6756 26.1405 36.6617 24.8561 35.4176L21.9595 32.6115L33.6637 21.2731L36.5602 24.0791C37.8441 25.323 39.9231 25.3235 41.2073 24.0791L44.1052 21.2718C45.3863 20.0307 45.3863 18.0111 44.1052 16.77L42.7934 15.4991ZM36.5781 6.71039C36.8343 6.46218 37.2513 6.46218 37.5075 6.71039L42.3629 11.4141C42.6191 11.6623 42.6191 12.0663 42.3629 12.3145L40.9345 13.6982L35.1497 8.09408L36.5781 6.71039ZM12.712 41.039C12.4558 41.2872 12.0388 41.2872 11.7826 41.039L6.92727 36.3353C6.67105 36.0871 6.67097 35.6831 6.92719 35.4349L8.3556 34.0511L14.1405 39.6553L12.712 41.039ZM22.9974 38.1187L20.0995 40.9261C19.8432 41.1743 19.4263 41.1742 19.17 40.9261C16.539 38.3774 9.71952 31.771 7.04368 29.1787C6.78745 28.9305 6.78745 28.5266 7.04359 28.2784C10.1892 25.2312 10.036 25.2846 10.4064 25.2846C10.818 25.2846 9.92801 24.5573 22.9974 37.2183C23.2537 37.4666 23.2542 37.8699 22.9974 38.1187ZM20.1008 30.8108L17.4852 28.2769L29.1893 16.9385L31.805 19.4724L20.1008 30.8108ZM42.2465 19.4711C39.101 22.5182 39.2541 22.4649 38.8838 22.4649C38.5087 22.4649 38.7105 22.5608 34.5931 18.5721C25.6504 9.90887 26.1003 10.4577 26.1003 10.0809C26.1003 9.72551 26.0347 9.8807 29.1907 6.82332C29.3188 6.69917 29.487 6.6371 29.6554 6.6371C30.0399 6.6371 28.972 5.71108 42.2464 18.5706C42.5027 18.8189 42.5027 19.2229 42.2465 19.4711Z"
    />
  </svg>
</mat-icon>
<div *ngIf="!required">
  <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
    width: '24px',
    height: '24px',
    'border-radius': '4px'
  }">
  </ngx-skeleton-loader>
</div>

