<section (swipeleft)="swipeLeft()" class="wrapper-section-swipe-panel">
    <app-workout-program-result-card
            [header]="($currentWorkoutProgram | async)?.common?.name"
            [repeatButtonNeed]="false"
            [result]="results$ | async"></app-workout-program-result-card>

    <section class="standard-section" *ngIf="($archive | async)?.length > 0">
        <h3 class="mat-h2" i18n="@@finishedWorkoutHistory">Finished workout history</h3>

        <mat-card *ngFor="let wp of ($archive | async)">
            <mat-card-header>
                <mat-card-title>{{wp?.common?.name}}</mat-card-title>
                <mat-card-subtitle>{{wp?.startDate + ' - ' + wp?.endDate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions fxLayoutAlign="end end">
                <button class="menu-button" mat-button (click)="openBottomsheet(wp?.archiveId)" i18n="@@button.more">
                    More details
                </button>
            </mat-card-actions>
        </mat-card>
    </section>
</section>
