<h1 mat-dialog-title>Покинуть тренировку</h1>
<div mat-dialog-content>
  <p>Вы уверены что хотите выйти?</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Нет</button>
  <a mat-button>
    <span class="aligned-with-icon" [mat-dialog-close]="true">Да</span></a>
</div>
