<div class="cardBord"
     gdAreas="cardWCharacteristic chartJoules chartJoules cardWTableResult | cardWCharacteristic chartRestTime chartWPercentJob cardWTableResult "
     gdColumns="1fr 1fr 1fr 1fr"
     gdGap="16px 16px"
     gdAreas.lt-sm="cardWCharacteristic cardWCharacteristic cardWCharacteristic cardWCharacteristic |
                    chartJoules chartJoules chartJoules chartJoules |
                     chartWPercentJob chartWPercentJob chartWPercentJob chartWPercentJob |
                      chartRestTime chartRestTime chartRestTime chartRestTime |
                       cardWTableResult cardWTableResult cardWTableResult cardWTableResult">
  <div gdArea="cardWCharacteristic" class="chartJoules">
    <app-image-card-with-characteristic [characteristics]="commonCharacteristics$ | async"
                                        [date]="(workoutResult$ | async)?.date"
                                        [image]="imgSrc"></app-image-card-with-characteristic>
  </div>
  <div class="chartJoules" gdArea="chartJoules" *ngIf="charResultData$ | async">
    <app-charts-result-work-with-joules
      [chartResultData]="charResultData$ | async"></app-charts-result-work-with-joules>
  </div>
  <div class="chartJoules" gdArea="chartRestTime" *ngIf="workoutResult$ | async">
    <app-rest-chart [workoutResult]="workoutResult$ | async"></app-rest-chart>
  </div>
  <div gdArea="chartWPercentJob" class="chartJoules">
    <app-complete-percent-card
      [percentCompleatWork]="(workoutResult$ | async)?.percentOfCompletedWork"></app-complete-percent-card>
  </div>
  <div class="chartJoules" gdArea="cardWTableResult">
    <app-card-with-result-training [exerciseSummaryList]="(exerciseSummary$ | async)"></app-card-with-result-training>
  </div>
</div>
