@import 'src/theme/variables';

.workout-process-content {
  padding-right: 0;
  padding-left: 0;
  max-width: 1200px;
  margin: 0 auto;

  mat-card-actions {
    margin-left: 8px;
  }

  app-process-training-timer {
    margin: 0 auto;
  }

  .control-panel {
    padding: 16px;
  }


  .edit_block {
    margin-top: 36px;

    mat-icon {
      margin-left: 8px;
    }
  }
}

video {
  max-height: calc(100vh - 470px);
  min-height: 226px;
  width: 100%;
  border-radius: 4px;
}



mat-divider {
  height: 68px;
}

.measure-control {
  margin-top: 16px;
}



.relative-container {
  position: relative;
}

.menu-wrapper {
  position: absolute;
  top: 0;
  right: -4px;
}



