<mat-list-item>
    <span mat-line>{{schedulerDay.date | date}}</span>
    <span mat-line class="wp-name secondary-text">{{name$ | async}}</span>
    <app-progress-spinner [percentComplete]="schedulerDay.userWorkoutInstanceList[0].percentComplete"
                          [size]="'small'" *ngIf="!isLock; else lock"></app-progress-spinner>
    <ng-template #lock>
        <mat-icon>lock</mat-icon>
    </ng-template>
</mat-list-item>
<button *ngIf="enableStartButton" class="start-workout-program-button" mat-raised-button color="primary"
        (click)="startWorkoutInstance(schedulerDay.userWorkoutInstanceList[0].id)"
>Старт
</button>
