<mat-card *ngIf="result" [ngClass]="{'mat-elevation-z0': withoutShadow}">
  <mat-card-title>{{header}}</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span mat-line i18n="@@date">Date</span>
        <span mat-line>{{getRangeDate()}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span mat-line i18n="@@workoutProgramExpiredForDays">The program is overdue for days</span>
        <span>{{result.daysExpired < 0 ? 0 : result.daysExpired}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span mat-line i18n="@@trainingDays">Training days</span>
        <span>{{result.takesDays < 0 ? 0 : result.takesDays}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span mat-line i18n="@@workoutsComplete">Workouts complete</span>
        <span>{{result.workoutStatistic.workoutFinishedAmount}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list style="margin-left:30px;">
        <mat-list-item>
          <span mat-line i18n="@@perfectlyWell">Perfectly well</span>
          <span>{{result.workoutStatistic.workoutMarkMapToCount['PERFECT']}}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span mat-line i18n="@@middle">Middle</span>
          <span>{{result.workoutStatistic.workoutMarkMapToCount['MIDDLE'] || 0}}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <span mat-line i18n="@@badly">Badly</span>
          <span>{{result.workoutStatistic.workoutMarkMapToCount['BAD'] || 0}}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-list-item class="percent-list-item">
        <span mat-line i18n="@@workoutScore">Workout percent complete</span>
        <span mat-line class="secondary-text" i18n="@@average">Normal</span>
        <app-progress-spinner [percentComplete]="result.averagePercentWorkoutComplete"></app-progress-spinner>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end end" (click)="repeatSubscribe()" *ngIf="repeatButtonNeed">
    <button mat-button>
      <mat-icon>repeat</mat-icon>
      <ng-container i18n="@@repeat">Repeat</ng-container>
    </button>
  </mat-card-actions>
</mat-card>
