
.measures{
  margin-top: 4px;

  *{
    margin-right: 4px;
  }
}
.mat-list-content{
  padding: 0;
}
.mat-list-item{
  padding-bottom: 16px;
  padding-top: 16px;
}
app-progress-spinner{
  margin-right: -16px;
  margin-left: 4px;
}
.item-content{
  width: 100%;
}

