<mat-card>

  <mat-list role="list">
    <div mat-subheader i18n="@@result">Results</div>
    <ng-container *ngFor="let exerciseSummary of exerciseSummaryList">
      <mat-list-item role="listitem">
        <div class="item-content" fxLayoutAlign="space-between space-between">
          <div fxLayout="column">
            {{exerciseSummary.exercise.name}}
            <div class="measures">
              <span class="mat-caption" *ngFor="let sum of exerciseSummary.summary">
                <ng-container *ngFor="let measure of sum | keyvalue">
                {{measure.value}} {{measure.key}}
                </ng-container>
              </span>
            </div>
          </div>
          <app-progress-spinner size="small"
                                [percentComplete]="exerciseSummary.percentOfCompletedWork"></app-progress-spinner>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</mat-card>
