<mat-list>
  <ng-container *ngFor="let workoutSet of workoutSetList">
    <mat-list-item>
      <img class="exercise-image" mat-list-avatar
           [src]="getExerciseById(workoutSet.exerciseId)?.imageBundle?.webImageLink"
           [alt]="getExerciseById(workoutSet.exerciseId)?.name" fxFlexOrder="reverse">
      <span mat-line>{{getExerciseById(workoutSet.exerciseId)?.name}}</span>
      <span mat-line class="secondary-text">{{getMeasureString(workoutSet.listOfMeasures)}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
