
mat-list-item{
  margin-top: 8px;
  margin-bottom: 8px;
}
mat-divider{

}
mat-list{
  margin-left: -16px;
  margin-top: -20px
}
.mat-list-base .mat-list-item .mat-list-avatar{
  &.exercise-image{
    width: 64px;
    height: 64px;
    border-radius: 4px;
  }

}
