<mat-list>
  <mat-list-item *ngFor="let workoutData of workoutDataList">
    <h3 matLine class="mat-h1">{{(getName(workoutData.workoutId) | async)?.common.name}}</h3>
    <p matLine><span>{{workoutData.date | date:'shortDate'}} </span></p>
    <div class="spinner-wrapper">
      <span class="mat-h2">{{workoutData.percentOfCompletedWork}}%</span>
    </div>
    <mat-progress-bar
      [value]="workoutData.percentOfCompletedWork"
      mode="determinate"
    ></mat-progress-bar>
  </mat-list-item>
</mat-list>


