.semiopacity_line {
  background: black;
  width: 100%;
  opacity: 0.4;
  height: 56px;
  position: relative;
  box-sizing: border-box;
  top: 50%;
  transform: translate(0%, -50%)
}
span {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.card_rest {
  height: 128px;
  background-size: cover;
  background: url("https://images.unsplash.com/photo-1592405747625-ca8edb2ae35c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") center;
  text-align: center;
  padding: 0;
}
