<mat-card>
  <mat-card-header>
    <mat-card-title i18n="@@workCompleted">Work Completed</mat-card-title>
  </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFlexOrder.lt-sm="2" *ngIf="percentCompleatWork !== null">
      <app-progress-spinner size="big"
                            [percentComplete]="percentCompleatWork"></app-progress-spinner>
    </mat-card-content>
    <mat-card-footer fxFlexOrder.lt-sm="1" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center start">
     <ng-content></ng-content>
    </mat-card-footer>
</mat-card>
