@import 'src/theme/variables';

mat-card{
  width: calc(100% - 32px);;
}
mat-card-content{
  display: flex;
  align-content: center;
}
mat-card-footer{
  text-align: center;
  margin: 0;

  @include respond-to(mat-xs) {
    text-align: left;
    padding-right: 8px;
  }
}


