<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="4px">
    <div class="control" *ngFor="let control of progressController" fxFlex="1 1 100%"
         [ngClass]="{'active-control': control.state === 'active', 'finished-control': control.state === 'finished'}"></div>
</div>
