@import 'src/theme/variables';
.control{
  height: 4px;
  border-radius: 12px;
  background-color: mat-color($foreground, secondary-text);

  &.active-control{
    background-color: mat-color($primary);
  }
  &.finished-control{
    background-color: mat-color($accent);
  }
}
