.info-section {
  margin-top: 32px;
  position: relative;
  margin-bottom: 12px;
}

.mat-fab-extended {
  min-width: 120px;
  height: 40px;

  mat-icon {
    margin-right: 8px;
  }

  .fab-content {
    margin-top: -16px;
  }
}

.mat-fab {
  display: block;
  position: absolute;
  top: -52px;
  margin-left: -75px;
  left: 50%;


}
.exercise-name {
  margin-bottom: 0;
}

.exercise-image {
  height: calc(100vh - 246px);
}

.measure-wrapper {
  margin-right: 16px;
  margin-left: 16px;

  .mat-headline {
    text-align: center;
    margin-bottom: 0;
  }
}

