<div *ngIf="set">
    <div class="exercise-image" fxLayoutAlign="center">
        <video layout-fill loop="loop" autoplay="autoplay" preload="auto" [src]=
                set.exercise.video.url>
        </video>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="info-section">
        <button mat-fab color="accent" class="mat-fab-extended md-fab-bottom-right" (click)="openDialog()">
            <mat-icon>done</mat-icon>
            <span i18n="@@done" fxFlexAlign="center">Сделал</span>
        </button>
        <div class="mat-headline exercise-name">{{set.exercise.name}}
            <mat-icon aria-hidden="false" (click)="infoBottomSheet()">info</mat-icon>
        </div>
        <div class="measures" fxLayout="row">
            <ng-container *ngFor="let measure of set.listOfMeasures">
                <div class="measure">
                    <div class="mat-headline">{{measure.expectedValue}}</div>
                    <span class="caption">{{measure.measureType.name}}</span>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
            </ng-container>
        </div>
    </div>
</div>
