<button *ngIf="fabSettings.isShow" class="extended-fab-button fab-bottom-right"
        [ngClass]="{'extended-fab-button': fabSettings.isExtend}"
        mat-fab color="accent"
        (click)="fabSettings.handler({})">
  <mat-icon>{{fabSettings.icon}}</mat-icon>
  <span *ngIf="fabSettings.isExtend" class="extended-fab-button__text">{{fabSettings.name}}</span>
</button>
