
.mat-card {
  height: 100%;
  min-height: 100%;
  color: #ffffff;

  .mat-card-footer {
    padding: 16px;

    mat-divider {
      &:last-child {
        display: none;
      }
    }

  }

  .mat-divider-vertical {
    border-color: #ffffff;
    border-width: 2px;
  }
}

.h1t {
  font-size: 34px;
}

.h2t {
  font-size: 24px;
  color: #ffffff;
}

.h3t {
  font-size: 14px;
}

