<mat-card [appBackgroundCover]="image"
          fxLayout="column" fxLayoutAlign="space-between">
  <mat-card-header>
    <mat-card-title>{{date | date}}</mat-card-title>
    <mat-card-subtitle class="h2t" i18n="@@done">выполнен</mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer fxLayout="row" fxLayoutAlign="space-evenly">
    <ng-container *ngFor="let ch of characteristics">
      <div fxLayout="column" fxLayoutAlign="center center">
        <span class="h2t">{{ch.value}}</span>
        <span class="h3t">{{ch.name}}</span>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
    </ng-container>
  </mat-card-footer>
</mat-card>


