<app-complete-percent-card *ngIf="userWorkoutProgramStatistic; else userHasNotWorkoutProgram"
  [percentCompleatWork]="userWorkoutProgramStatistic.percentComplete">
  {{userWorkoutProgramStatistic.workoutCompletedNumber}} тренировок из {{userWorkoutProgramStatistic.workoutAllNumber}} завершены
</app-complete-percent-card>
<ng-template #userHasNotWorkoutProgram >
  <span i18n="@@userDoesNotSubscribeOnWorkoutProgram">User does not subscribe on workout program </span>
</ng-template>
