<link rel="stylesheet" href="measures-editable-list.component.scss">
<ng-container *ngFor="let measure of measures let i = index">
  <div fxFlex="0 1 100%">
    <a (click)="editMeasure()">
      <div fxLayout="column" class="measure-wrapper">
        <span class="secondary-text">{{measure.name | truncate:[12, '...']}}</span>
        <span class="mat-display-1">{{measure.value}} {{measure.prefixLocalized}}</span>
      </div>
    </a>
  </div>
  <mat-divider fxFlex="nogrow" fxFlexAlign="end end" [vertical]="true" style="height:64px"
               *ngIf="i < measureList.length -1"></mat-divider>
</ng-container>
