<div class="fixActionRow">
  <div mat-dialog-title>{{($currentPhase | async).name}}</div>
  <div mat-dialog-content>
    <app-exercise-list [workoutSetList]="($currentPhase|async).listOfSets"></app-exercise-list>
  </div>
  <div class="spacer"></div>
  <div mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button color="accent" (click)="start()">
      {{($phaseIsDirty | async) ? 'Продолжить' : 'Старт'}}
    </button>
    <ng-container *ngIf="($phaseStatus | async)?.status !== 'skipped'; else phaseWasSkipped">
      <button mat-button  (click)="skip()" i18n="@@skip">Skip</button>
    </ng-container>
    <ng-template #phaseWasSkipped>
      <button  mat-button (click)="skipPermanent()" i18n="@@iDontDoIt">
        I don't do it
      </button>
    </ng-template>
  </div>
</div>
