<h1 mat-dialog-title i18n="@@should-login">You should login</h1>
<div mat-dialog-content>
  <p i18n="@@need-authorization-for-continue">You have to authorize to continue</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" i18n="@@cancel">Cancel</button>
  <a [href]=loginUrl mat-button>
    <mat-icon>person</mat-icon>
    <span class="aligned-with-icon" i18n="@@login">Login</span></a>
</div>
