@import "src/theme/variables";

$primary: mat-color($primary);
$background: mat-color($background, card);
$spacing: 1em;

%reset {
  margin: 0;
  padding: 0;
}

%_elevation_plus_0 {
  z-index: 0;
  box-shadow: none;
}

%_elevation_plus_1 {
  z-index: 1;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
}

html {
  @extend %reset;
}

p {
  @extend %reset;
}

.backdrop {
  height: 100vh;
  width: 100%;
  background-color: $primary;

  .navigation {
    margin-top: 72px;
    top: 72px;
    width: 72px;
    will-change: transform;
    overflow: hidden;
  }

  &__back {
    width: 100%;
    height: 56px;
    @extend %_elevation_plus_0;
    color: white;
    position: fixed;
    top: 0;

    .backdrop-wrapper {
      overflow: auto;
      padding: 0 16px;
    }
  }

  &__front {
    width: 100%;
    position: sticky;
    top: 56px;
    padding-bottom: 54px;
    height: 100%;
    @extend %_elevation_plus_1;
    border-radius: $spacing 0 0 0;
    box-sizing: border-box;
    background-color: $background;
    overflow-y: hidden;
    @include respond-to(mat-xs) {
      border-radius: $spacing $spacing 0 0;
    }
    will-change: transform;
  }

  &__subheader {
    @extend %reset;
    @extend %_elevation_plus_0;
    border-bottom: 1px solid lightgrey;
    padding: 16px 16px 8px;
  }
}


.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

app-backdrop-header {
  display: block;
  position: sticky;
  top: 0;
  background: $background;
  z-index: 99999;
}

.web-vision {
  width: calc(100% - 72px);
  left: 72px
}



