<div class="backdrop"
     gdAreas="navigation top | navigation content"
     gdAreas.xs="top top | content content"
     gdGap="0px 0px"
     gdColumns="auto 1fr"
     gdColumns.xs="auto"
     gdRows="56px auto">
  <section class="backdrop__back" gdArea="top" ngClass.gt-xs="web-vision">
    <app-toolbar
      (actionClick)="toggle($event)"
      [backdropSettings]="$backdropSetting | async"
      [backdropStatus]="$backDropStatus | async"></app-toolbar>
    <div [ngStyle]="{'height': ($backdropDownToHeight | async) }" class="backdrop-wrapper">
      <div appToolbarContextHost></div>
    </div>
  </section>
  <section class="navigation" gdArea="navigation"
           [@openCloseNavigation]="{value: 'navigation_'+($backdropAnimateStatus | async), params:{downTo: ($backdropDownToHeight | async) }}"
           fxHide.xs>
    <app-navigation-items></app-navigation-items>
  </section>
  <section #backdropFront class="backdrop__front"
           gdArea="content" [@openClose]="{value: ($backdropAnimateStatus | async),
    params:{downTo: ($backdropDownToHeight | async)}}">
    <app-backdrop-header [header]="($backdropSubHeaderSetting | async)" [backdropStatus]="$backDropStatus | async"></app-backdrop-header>
    <div class="content" [@routerTransition]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <ng-content></ng-content>

  </section>

</div>
<app-fab [fabSettings]="fabSetting | async"></app-fab>
