<mat-card fxLayout="column">
  <mat-card-header fxFlex="1 0 auto">
    <mat-card-title i18n="@@distributionByExerciseType">
      Distribution by exercise type
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlex="0 1 auto">
    <div>
      <app-radar-chart [allData]="characteristicBasedOnExercise$ | async"></app-radar-chart>
    </div>
  </mat-card-content>
  <mat-card-footer fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>For period</mat-label>
      <mat-select [(ngModel)]="selected" (ngModelChange)="onChange()" name="label" id="mySelect">
        <mat-option *ngFor="let periods of arrPeriods" [value]="periods">{{periods}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-footer>
</mat-card>
