<div [formGroup]="parent" fxLayout="column">
  <mat-form-field>
    <mat-label>{{measure.measureType.name}}</mat-label>
    <input size="4" class="countOfMeasure" matInput formControlName="actualValue">
  </mat-form-field>
</div>


