@import 'src/theme/variables';
mat-card{
  background: transparent;
}
.exercise-info {
  .section{
    p{
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }
  .info{
    width: 100%;
  }
  .info-item{
    margin-top: 16px;
    .title{
      font-weight: bold;
      margin-right: 16px;
    }
  }

  margin-top: 24px;
  .header-section {
    text-align: center;
    h3 {
      display: inline;
      border: 1px solid mat-color($primary);
      border-radius: 12px;
      padding: 4px 24px;
      color: mat-color($primary)
    }
  }
}
app-close-bottom-sheet-button{
  padding: 16px 0;
}
