<div (swipedown)="close()">
    <app-close-bottom-sheet-button [bottomSheet]="bottomSheet"></app-close-bottom-sheet-button>
    <mat-card class="mat-elevation-z0" (swipedown)="close()">
        <mat-card-title>
            <span i18n="@@description">Description</span>
        </mat-card-title>
        <mat-card-content>
            <div class="exercise-info">
                <div class="section">
                    <div class="header-section">
                        <h3 class="mat-h2" i18n="@@description">Description</h3>
                    </div>
                    <p>{{data.detailedDescription}}</p>
                </div>
                <div class="section">
                    <div class="header-section">
                        <h3 class="mat-h2" i18n="@@info">Information</h3>
                    </div>
                    <div fxLayout="row" class="info-item">
                        <div class="title" i18n="@@targetMuscle">Target Muscles</div>
                        <div>{{targetMuscle}}</div>
                    </div>
                    <div fxLayout="row" class="info-item">
                        <div class="title" i18n="@@participatingMuscle" *ngIf="data.additionalInfo.musclesInvolved.length > 0; else clear">
                            Participating muscles
                        </div>
                        <div>{{musclesInvolved}}</div>
                        <ng-template #clear></ng-template>
                    </div>
                    <div fxLayout="row" class="info-item">
                        <div class="title" i18n="@@equipment" *ngIf="getEquipment(); else clear">Equipment</div>
                        <div>{{getEquipment()}}</div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
