<div fxLayout="column" fxLayoutAlign="end center" class="slider-wrapper">
    <span class="mat-title">Оценить насколько сложная была тренировка</span>
    <mat-slider
            class="slider"
            [max]="5"
            [min]="1"
            [step]="1"
            [tickInterval]="1"
            [(ngModel)]="value"
            (change)="change($event)"
            aria-labelledby="example-name-label">
    </mat-slider>
    <span class="mat-title">{{getDifficalty(value)}}</span>
</div>
