@import './theme/online-gym-light-main-theme';
@import '~font-awesome/css/font-awesome.css';
@import './theme/variables.scss';

.backdroplist {
  .mat-checkbox .mat-checkbox-frame {
    border-color: #FFFFFF;
  }

  .mat-list-option, .mat-pseudo-checkbox {
    color: #FFFFFF;

    .mat-list-text {
      overflow: unset !important;
    }
  }

  .active-workout-set {
    .mat-pseudo-checkbox {
      color: mat-color($primary);
    }

    .mat-checkbox .mat-checkbox-frame {
      border-color: mat-color($primary);
    }
  }
}

.content {
  overflow-y: auto;
  height: 100%;
  padding: 0 8px;
}

.bottom-sheet-full-width, .edit-bottom-sheet {
  width: 100vw;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.edit-bottom-sheet.mat-bottom-sheet-container {
  padding: 0;
}

.accent-color {
  color: mat-color($accent) !important;
}

.primary-color {
  color: mat-color($primary) !important;
}

.warn-color {
  color: mat-color($warn) !important;
}

.secondary-text {
  color: mat-color($foreground, secondary-text)
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

mat-selection-list {
  outline: none;
}

.backdrop-subheader {
  margin-bottom: 12px;
}

.mat-fab.extended-fab-button {
  width: unset;
  padding: 0 26px;
  border-radius: 29px;
  height: 42px;

  .mat-icon {
    margin-right: 10px;
  }

  .extended-fab-button__text {
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

.mat-fab.fab-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

@media screen and (min-width: 1981px) {
  .mat-fab.fab-bottom-right {
    right: 0;
    left: calc(100% - ((100% - 1664px) / 2));
  }
}

.mat-fab .mat-button-wrapper {
  padding: 0 !important;
}

.br-fontawesome-o .br-selected:after, .br-fontawesome-o .br-active:after, .br-fraction:after {
  color: #FED430 !important;
  font-size: 12px;
}

.br-fontawesome-o .br-unit:after {
  font-size: 12px !important;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: mat-color($primary);
  overflow: hidden;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

.aligned-with-icon {
  margin-left: 5px;
}

.page-section {
  margin: 24px 0;
}

.with-icon {
  display: flex;
  align-items: center;
}

.info {
  padding: 0 0 8px;
}

.wrapper-background {
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.mat-image-card {
  img {
    width: 100%
  }
;
  padding: 0;
}

.workoutInstanceDialogFullSize {
  .mat-dialog-container {
    border-radius: 0;
  }
}

.section-panel {
  margin-bottom: 8px;
}

.standard-section {
  margin-bottom: 24px;
  display: block;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

.form-field-full-width {
  width: 100%;
}

.full-width-card {
  width: 100%;
  height: 100%;
  display: block;
}

.formFieldSmall .mat-form-field-infix {
  width: 64px;
}

.darken-pseudo, .glass-morphism-card, .gradient-darken {
  position: relative;
  z-index: 0;
  border-radius: 4px;
}

.darken-pseudo, .glass-morphism-card, .gradient-darken {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;

  }
}

.darken-pseudo, .glass-morphism-card {
  &:after {
    border-radius: 4px;
  }
}

.darken-pseudo:after {
  background-color: rgba(0, 0, 0, 0.5);
}

.gradient-darken:after {
  background: linear-gradient(0deg, #000000 2.79%, rgba(0, 0, 0, 0) 100.89%);
}

.glass-morphism-card:after {
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(5.0px);
  -webkit-backdrop-filter: blur(5.0px);
}

.darken-pseudo, .glass-morphism-card, .gradient-darken {
  * {
    color: mat-color($primary, default-contrast);
    position: relative;
    z-index: 1;
    background: transparent;
  }

}

.full-width-backdrop-card {
  display: block;
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-top: -16px;
}

.glass-morphism {
  mat-dialog-container {
    background-color: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(12.0px);
  }
}

.glass-morphism.mat-bottom-sheet-container {
  background-color: rgba(255, 255, 255, 0.60);
  backdrop-filter: blur(12.0px);
}

.transparent {
  background: transparent;
}

// temporary fix for expansion panels until Angular Material Issue is fixed,
// see https://github.com/angular/material2/issues/13870
mat-accordion mat-expansion-panel {
  mat-expansion-panel-header {
    height: 40px; // height may be different for you
  }

  .mat-expansion-panel-content {
    height: 0;
  }

  &.mat-expanded {
    mat-expansion-panel-header {
      height: 64px; // height may be different for you
    }

    .mat-expansion-panel-content {
      height: auto;
    }
  }
}
.empty-block{
  height: 64px;
}
.top-empty-block{
  height: 16px;
}
.default-padding{
  padding: 16px;
}
.tab-section{
  height: calc(100vh - 124px);
}
.mat-button-base{
  text-transform: uppercase;
}
.mat-button-focus-overlay {
  background-color: transparent!important;
}
.wrapper-section-swipe-panel{
  margin-top: 24px;
  height: calc(100vh - 130px);
}

