<div fxLayout="column">
    <app-workout-program-presenter
            [workoutProgramPercentDone]="workoutProgramPercentDone$ | async"
            [workoutProgram]="(currentWorkoutProgram$ | async).trainingWorkoutProgram"
            [action]="presenterActionButton"
            (restart)="restartWp()"
            class="standard-section"
    ></app-workout-program-presenter>
    <ng-container *ngIf="!(userTrainingInfo$ | async)?.userWorkoutProgram?.id; else userSubscribeBlock">
        <h1 class="mat-h1" i18n="@@youAreNotSubscribeToWorkout">You are not subscribed to workout</h1>
        <mat-card>
            <img mat-card-image src="assets/images/rsz_14904780.jpg" alt="empty gym" width="100%">
            <mat-card-actions fxLayoutAlign="end end">
                <a [routerLink]="'/workout-programs'" mat-raised-button color="primary" i18n="@@chooseAProgram">Choose a program</a>
            </mat-card-actions>
        </mat-card>

    </ng-container>
    <ng-template #userSubscribeBlock>
        <div *ngIf="(userTrainingInfo$ | async)?.userWorkoutProgram?.status === 'FINISHED'; else workoutNotFinished">
            <app-workout-program-result (repeateSubscription)="repeateSubscription()"></app-workout-program-result>
        </div>
        <ng-template #workoutNotFinished>
            <app-workout-porgram-scheduler [calendar]="(userTrainingInfo$ | async).userWorkoutProgram?.workoutProgramScheduler?.listOfDays"
                                           [today]="today | async"
                                           *ngIf="(userTrainingInfo$ | async).userWorkoutProgram?.workoutProgramScheduler; else createScheduler"
            ></app-workout-porgram-scheduler>
            <ng-template #createScheduler>
                <div class="start-workout-program" fxLayoutAlign="center center">
                    <app-start-workout-program-button (startWP)="startWorkoutProgram()"></app-start-workout-program-button>
                </div>
            </ng-template>
        </ng-template>
    </ng-template>
</div>
