.control-panel {
  .time-control {
    margin-right: 8px;
  }

  button {
    margin: 0 16px 0 16px;
    mat-icon {
      font-size: 36px;
      width: 36px;
      height: 36px;
    }
  }

  .next-exercise {
    padding-right: 16px;
    .next {
      text-transform: uppercase;
    }
  }
}
