<div class="control-panel">
  <div class="next-exercise" fxLayout="row" fxLayoutAlign="end">
    <div fxLayout="column">
      <div class="next">Далее {{formatProgress}}</div>
      <div class="next-exercise-name">{{nextWorkoutSet}}</div>
    </div>
    <div fxLayout="row" class="time-control">
      <button mat-icon-button (click)="pause()"><mat-icon>{{formatPause}}</mat-icon></button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-icon-button (click)="clickSkip()"><mat-icon>skip_next</mat-icon></button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-icon-button (click)="finishedWorkoutInstance()" i18n="finish">Finish</button>
    </div>
  </div>
</div>
