<svg
  width="26"
  height="26" [class]="difficultyName" [ngClass]="{'contrast' : isContrast}" *ngIf="difficultyName">
  <rect class="low_level"
        y="16"
        width="6"
        height="13"/>
  <rect class="average_level"
        width="6"
        height="18" x="8" y="8"/>
  <rect class="hard_level"
        width="6"
        height="24" x="16" y="2"/>
</svg>
<div *ngIf="!difficultyName">
  <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
    width: '24px',
    height: '24px',
    'border-radius': '4px'
  }">
  </ngx-skeleton-loader>
</div>
