@import 'src/theme/variables';

:host {
  display: block;
  width: 26px;
  height: 26px;
}

.easy {

    .low_level {
      fill: mat-color($primary);
    }

    .average_level {
      stroke: mat-color($primary);
      stroke-width: 1;
      fill: none;
    }

    .hard_level {
      stroke: mat-color($primary);
      stroke-width: 1;
      fill: none;
    }
  &.contrast {

    .low_level {
      fill: mat-color($primary, default-contrast);
    }

    .average_level {
      stroke: mat-color($primary, default-contrast);
    }

    .hard_level {
      stroke: mat-color($primary, default-contrast);
    }
  }
}


.average {
  .low_level {
    fill: mat-color($primary);
  }

  .average_level {
    fill: mat-color($primary);
  }

  .hard_level {
    stroke: mat-color($primary);
    stroke-width: 1;
    fill: none;
  }
  &.contrast {
    .low_level {
      fill: mat-color($primary, default-contrast);
    }

    .average_level {
      fill: mat-color($primary, default-contrast);
    }

    .hard_level {
      stroke: mat-color($primary, default-contrast);
    }
  }
}


.hard {
  .low_level {
    fill: mat-color($primary);
  }

  .average_level {
    fill: mat-color($primary);
  }

  .hard_level {
    fill: mat-color($primary);
  }
  &.contrast {
    .low_level {
      fill: mat-color($primary, default-contrast);
    }

    .average_level {
      fill: mat-color($primary, default-contrast);
    }

    .hard_level {
      fill: mat-color($primary, default-contrast);
    }
  }
}
