<div (swipedown)="close()">
    <app-close-bottom-sheet-button [bottomSheet]="bottomSheet"></app-close-bottom-sheet-button>
    <div class="personal-record-wrapper" fxLayout="column" fxLayoutAlign="space-around center" (swipedown)="close()">
        <mat-icon color="accent" svgIcon="champion-cup"></mat-icon>
        <app-measures-editable-list [measureList]="(recordMeasures | async)"></app-measures-editable-list>
    </div>
</div>
