@import 'src/theme/variables';

mat-icon {
  transform: scale(3);
  margin-left: 12px;
}

.accent-icon svg {
  fill: yellow;
}

.personal-record-wrapper {
  height: 264px;
}
app-measures-editable-list{
  width: 100%;
}
