
.spinner-wrapper {
  position: relative;
}

.text-percent {
  letter-spacing: normal;
  margin: 0 0 16px;
  line-height: 56px;
}

.perExercise {
  color: black;
  position: absolute;

  z-index: 9999;
  left: 50%;

  text-align: center;
  border-radius: 56px;

}

.big {
  .perExercise {
    width: 116px;
    height: 116px;
    top: 9px;
    margin: 0 0 0 -58px;

    .text-percent {
      font: 600 24px/36px Roboto, "Helvetica Neue", sans-serif;
      line-height: 116px;
    }
  }
}

.medium {
  .perExercise {
    width: 60px;
    height: 60px;
    margin: 0 0 0 -30px;
    top: 9px;

    .text-percent {
      font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
      line-height: 56px;
    }
  }
}

.small {
  .perExercise {
    margin: 0 0 0 -22px;
    width: 44px;
    height: 44px;
    top: 0;

    .text-percent {
      font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
      line-height: 56px;
    }
  }


}

.emptyCircle {
  box-sizing: border-box;
  border-radius: 50%;
  border: 4px rgba(0, 0, 0, 0.12) solid;

  &.small {
    width: 56px;
    height: 56px;
  }

  &.medium {
    width: 72px;
    height: 72px;
  }

  &.big {
    width: 128px;
    height: 128px;
  }
}
