<div class="spinner-wrapper" [ngClass]="size">
    <mat-progress-spinner
            [value]="percentComplete"
            mode="determinate"
            [diameter]="diameter"
            [color]="color"
            *ngIf="percentComplete > 0; else emtyCircle"
    ></mat-progress-spinner>
    <ng-template #emtyCircle>
        <div class="emptyCircle" [ngClass]="size"></div>
    </ng-template>

    <div class="perExercise">
        <div class="text-percent">{{percentComplete}}%</div>
    </div>
</div>
