<div *ngIf="allData?.data">
  <canvas width="350" height="300"
          baseChart
          [chartType]="radarChartType"
          [datasets]="[allData]"
          [options]="getRadarOption()"
          [labels]="radarChartLabels"
          [colors]="radarChartBackgroundColor">
  </canvas>
</div>
